/* Projects */
.card {
    background-color: transparent;
    border: 0;
}
.card-title {
    font-family: "Dancing Script", cursive;
}

.card .btn {
    background-color: transparent;
    border-color: #f9f7f7;
    margin-right: 1rem;
}