/*
Color Palette
#f9f7f7;
#dbe2ef;
#3f72af;
#112d4e;
*/
body {
  color: #f9f7f7;
  background-color: #112d4e;
  background-image: url("../images/background.png");
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  color: #dbe2ef;
  font-weight: 100;
  padding: 2%;
}

a:hover {
  color: #f9f7f7;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4.5rem;
  font-weight: 700;
  padding-bottom: 4%;
}

h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

h3 {
  font-size: 1.45rem;
  font-weight: 300;
}


.title {
  background-color: transparent;
}


@media (max-width: 576px) {
  .title {
    margin-top: 4rem;
  }
}

.brand-img {
  opacity: 0.8;
}

.brand-img:hover {
  opacity: 1;
}

.menu-button {
  height: 20px;
  width: 20px;
}

.bird {
  display: none;
  height: 150px;
  width: 200px;
  position: absolute;
}

.title-image{
  transform: rotate(45deg);
  top: 15%;
  left: 25px;
}

.about-image{
  transform: rotate(-45deg);
  top: 15%;
  right: 25px;
}

/* Sections*/
.About-Me, .Skills, .Contact-Me {
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  padding: 2rem 1rem;
}

@media (max-width: 576px) {
  .About-Me, .Skills, .Contact-Me {
    padding: 4rem 2rem;
  }
}

/* About Me */
.mind-shape, .current-field {
  color: #3f72af;
  font-style: italic;
  font-weight: bold;
}

@media (min-width: 1000px) {
  .bird {
    display: inherit;
  }
}


/* Skills */
.list-group-item {
  background-color: transparent;
}

.list-heading {
  color: #dbe2ef;
}
